<?xml version="1.0"?>
<config>
    <modules>
        <Excellence_Samples>
            <version>0.1.0</version>
        </Excellence_Samples>
    </modules>
    <frontend>
        <routers>
            <samples>
                <use>standard</use>
                <args>
                    <module>Excellence_Samples</module>
                    <frontName>samples</frontName>
                </args>
            </samples>
        </routers>
        <layout>
            <updates>
                <samples>
                    <file>samples.xml</file>
                </samples>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<samples>
				<use>admin</use>
				<args>
					<module>Excellence_Samples</module>
					<frontName>samples</frontName>
				</args>
			</samples>
        </routers>
    </admin>
    <adminhtml>
		<layout>
			<updates>
				<samples>
					<file>custom.xml</file>
				</samples>
			</updates>
		</layout>
    </adminhtml>   
    <global>
         <models>
            <checkout>
                <rewrite>
                    <type_onepage>Excellence_Samples_Model_Checkout_Type_Onepage</type_onepage>
                </rewrite>
            </checkout>
        </models>
    	<rewrite>
	        <test_cart> <!--This can be any unique id -->
	            <from><![CDATA[#^/checkout/onepage/#]]></from>  <!-- the URL which u want to override-->
	            <to>/samples/onepage/</to>  <!-- destination url -->
	        </test_cart>
	    </rewrite>
    	
        <blocks>
        	<checkout>
        		<rewrite>
        			<onepage>Excellence_Samples_Block_Checkout_Onepage</onepage>
        		</rewrite>
        	</checkout>
            <samples>
                <class>Excellence_Samples_Block</class>
            </samples>
        </blocks>
        <helpers>
            <samples>
                <class>Excellence_Samples_Helper</class>
            </samples>
        </helpers>
    </global>
</config>